<% provide(:title, "edit") %>
<%= render 'layouts/header' %>
<div class="row">
	<%= render 'layouts/sidebar' %>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
				<%= render 'images/form' %>
		</div>
</div>
<%= render 'layouts/footer' %>