<% provide(:title, "contact") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 text-right">
			<div class="logo">
				<h1>william whitaker</h1>
			</div>
		</div>
	</div>
</div>
