<% provide(:title, "cv") %>
<%= render 'layouts/header' %>
<div class="row">
  <%= render 'layouts/sidebar' %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 col-lg-6 col-md-offset-1 text-left">
    <div role="main">
      <div class="cv-section">
        <div class="row">
          <div class="col-xs-12">
            <h4>SOLO EXHIBITIONS</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2013
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <p class="cv-item text-justify">
              <span>
                <a href="http://www.dcartscenter.org/PDFs/Distrubuted_Processes_Press_Release.pdf">
                  <em>Distributed Processes</em>
                </a>
                , District of Columbia Arts Center, Washington, DC
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="cv-section">
        <div class="row">
          <div class="col-xs-12">
            <h4>GROUP EXHIBITIONS</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2014
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <p class="cv-item text-justify">
              <span>
                <a href="http://www.transformerdc.org/special-events/overview/transformer-11th-annual-silent-auction-and-benefit-party">
                  <em>Transformer 11th Annual Silent Auction</em>
                </a>
                , Katzen Arts Center, American University, Washington, DC
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2013
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span>
                  <a href="https://www.wpadc.org/exhibitions/options-2013">
                    <em>Washington Project for the Arts OPTIONS 2013</em>
                  </a>
                  , Arlington Arts Center, Arlington, VA
                </span>
              </p>
              <p>
                <span>curated by Gerald Ross, Maryland Institute College of Art</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2012
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span>
                  <a href="http://doris-mae.com/wp/portfolio/september-2012/">
                    <em>Group Painting Show</em>
                  </a>
                  , Doris-Mae Gallery, Washington, DC
                </span>
              </p>
              <p>
                <span>curated by Thomas Drymon, Doris-Mae Gallery</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span><em>Monster Show</em>, Marlboro Gallery, Prince George&rsquo;s Community College, Landover, MD</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2011
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span><em>WPA/Hickok Cole Art Night</em>, Hickok Cole Architects, Washington, DC</span>
              </p>
              <p >
                <span>curated by Lauren Gentile, Contemporary Wing</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2010
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span><em>Intuitive Paint-Mike Dowley and William Whitaker</em>, VisArts Center, Rockville, MD</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cv-section">
        <div class="row">
          <div class="col-xs-12">
            <h4>PROFESSIONAL ACTIVITIES / AWARDS</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2013
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span><em>A Structure Unseen: Painting and Memory</em>, artist talk given as part of the &ldquo;Works in Progress&rdquo; series at the National Gallery of Art, Washington, DC</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              2011
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span>Semi-Finalist, Trawick Prize, Bethesda Urban Partnership</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cv-section">
        <div class="row">
          <div class="col-xs-12">
            <h4>EDUCATION</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="cv-item text-justify">
              <p>
                <span>Rhode Island School of Design, Providence, RI, 1997<br>Bachelor of Fine Arts, Painting</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
