<% provide(:title, "Home") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 text-right">
      <h1 class="logo">william whitaker</h1>
    </div>
    <div class="col-sm-8 text-right">
      <p>The site is being worked on at the moment.</p>
      <p>In the meantime, I'm on Instagram.</p>
    </div>
  </div>
</div>
