@import 'bootstrap-sprockets';
@import 'bootstrap';

$black: #000;
$white: #fff;
$warm-grey: #ccc;

/////////////////////////////
//    general settings     //
/////////////////////////////

header {
  display: inline;

  margin: 25px 0;

  a
 {
    color: $black;
    }
}

ul {
  list-style: none;
}

.links {
  margin-left: 1.8796%;
}

.bumper {
  height: 5em;
}

.main {
  margin-top: 1.25%;
}

.well {
  background-color: $warm-grey;
  border: 0;
  box-shadow: none;
}

.alert {
  padding: 25px 0;
  text-align: left;
}

/////////////////////////////
/////////////////////////////
/////////////////////////////

/////////////////////////////
//      typography         //
/////////////////////////////

body {
  font-family: 'Lato', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.logo {
  color: $black;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 2em;

  &:hover {
    color: $black;
    text-decoration: none;
    }
}

.sidebar-menu {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-top: 10%;
}

// if logged in, this would be the 'admin' menu
.sidebar-dropdown {
  li {
    margin-right: -5px;
  }
}

.sidebar {
  ul {
    // font-size: 2em;
    // margin-top: 45px;
  }

  a {
    color: $black;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

footer {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 25px 0;

  a {
    color: $black;

    &:hover {
      color: $black;
    }
  }
}

.jumbotron {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

/////////////////////////////
/////////////////////////////
/////////////////////////////

/////////////////////////////
//      dropdown           //
/////////////////////////////

// background overrides //

.dropdown-menu {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 1em;
  min-width: 100%;
  text-align: right;
}

/////////////////////////////
/////////////////////////////
/////////////////////////////

/////////////////////////////
//      forms              //
/////////////////////////////


.image-plate {
  text-align: left;
  width: 100%;
}

.btn {
  border-radius: 25px;
  text-align: left;

  .glyphicon {
    margin-right: 5px;
  }
}

.btn-primary {
  background-color: $warm-grey;
  border-color: $warm-grey;
  color: $white;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  text-align: left;

  &:input-placeholder {
    font-style: italic;
  }
}

.glyphicon {
  color: $white;
}

/////////////////////////////
/////////////////////////////
/////////////////////////////

/////////////////////////////
//      images             //
/////////////////////////////

.plate-captions {
  ul {
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 0;
    }
}

.plate-controls {
  background-color: $white;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 0;
  text-align: right;

  .glyphicon {
    color: $warm-grey;
    font-size: 2em;
    }
}

/////////////////////////////
/////////////////////////////
/////////////////////////////

/////////////////////////////
//      cv                 //
/////////////////////////////

.cv-item {
  margin-bottom: 1em;
}

.cv-section {
  margin-bottom: 1em;
}

/////////////////////////////
/////////////////////////////
/////////////////////////////
