@import "bootstrap-sprockets";
@import "bootstrap";

/* general settings */

#logo {
  font-size: 2em;
}

header	{
	margin: 20px 0;

	a {
		text-decoration: none;
		color: black;
	}
}

footer	{
	margin: 20px 0;

	a {
		color: black;
	}
}
