@import "bootstrap-sprockets";
@import "bootstrap";

/* general settings */

header	{
	margin: 25px 0;
	display: inline;
	a {
		color: black;
	}
}

footer	{
	font-family: "Lato";
	margin: 25px 0;
	a {
		color: black;
		&:hover	{
			color: black;
		}
	}
}

/* typography */

#logo {
  font-family: "Lato";
  font-size: 2em;
  &:hover {
  	text-decoration: none;
  	color: black;
  }
}
