<% provide(:title, "images") %>
<%= render 'layouts/header' %>
<div class="row">
	<%= render 'layouts/sidebar' %>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
		<div role="main" class="main">
			<div id="plate-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner" role="listbox">
					<%= render 'layouts/plate' %>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#plate-carousel .carousel-inner > .item:first').addClass('active');
</script>
