<footer class="visible-xs visible-sm navbar">
	<div class="text-right">
		<ul class="list-unstyled list-inline">
			<li><%= link_to "cv", cv_path %></li>
			<li><%= link_to "contact", contact_path %></li>
		</ul>
	</div>
</footer>