<div class="row">
	<div class="col-xs-12 col-sm-10 col-md-8">
		<footer class="text-right">
			<%= link_to "images", images_path %>
			<%= link_to "cv", cv_path %>
			<%= link_to "contact", contact_path %>
		</footer>
	</div>
</div>