<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8">
		<header class="text-right">
		<%= link_to "william whitaker", root_path, id: "logo", class: "text-uppercase" %>
			<ul class="list-unstyled list-inline hidden-xs hidden-sm" %></li>	
				<li><%= link_to "images", images_path %></li>
				<li><%= link_to "cv", cv_path %></li>
				<li><%= link_to "contact", contact_path %></li>
			</ul>
		</header>
	</div>
</div>